{% extends "master.html" %}
{% block sidebar %}
<!--TOP NAV ENDS-->
<aside id="left_panel">
  <div class="container-fluid">
    <div class="btn-group" style="margin-bottom:20px;width: 100%;">
      <a href="#" style="width: 100%;" class="pink-bg btn btn-med" data-toggle="dropdown">{{ current_course.course_id }}  <i class="pull-right icon-"></i></a>
      <ul style="width: 100%;" class="dropdown-menu">
        {% for course in courses %}
          <li><a href="{{ url_for('course_main', course_id=course.course_id) }}">{{ course.course_id }}</a></li>
        {% else %}
          <li>No Course</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <nav id="aside_nav">
    <ul>
      {% if is_admin == 1 %}
      <li><a href="javascript:;">Manage Members <i class="pull-right icon-angle-down"></i></a>
        <ul>
         <li><a href="#">Manage Students</a></li>
         <li><a href="#">Add Students</a></li>
        </ul></li>
      {% endif %}
      <li><a href="javascript:;">Homeworks<i class="pull-right icon-angle-down"></i></a>
      <ul>
        {% for homework in homeworks %}
          <li><a href="{{ url_for('manage_homework', course_id=current_course.course_id, hw_id=homework.hw_id) }}">Homework ({{ homework.resource_title }})</a></li>
        {% else %}
        <li style="margin:20px;"><span> There is no homework assigned for this class.</span></li>
        {% endfor %}
      </ul></li>
    <li>
    </ul>
  </nav>
</aside>
<!--ASIDE LEFT PANNEL ENDS-->
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="page-header">
      <h1>Edit Course {{ current_course.course_id }}<small>{{ current_course.course_title }}</small></h1>
    </div>
    <div class="row">
     <div class="panel colored col-md-8">
      <div class="panel-heading red-bg">
       <h3 class="panel-title">Edit</h3>
      </div>
      <form class="form-horizontal" action="{{ url_for('edit_course', course_id=current_course.course_id) }}" method="POST" id="edit-course-validation">
       <div class="panel-body">
      <div class="row">
       <div class="col-md-12">
        <div class="form-group">
         <label class="control-label col-lg-2">Syllabus URL</label>
         <div class="col-lg-10">
        <input type="text" name="syllabus_url" id="syllabus_url" class="form-control" value="{{ current_course.syllabus }}"></input>
         </div>
        </div>
       </div>
      </div>
      <div class="row">
       <div class="col-md-12">
        <div class="form-group">
         <label class="control-label col-lg-2">Course Description</label>
         <div class="col-lg-10">
         <textarea id="description" name="description" class="form-control">{{ current_course.description }}</textarea>
         </div>
        </div>
       </div>
      </div>
       </div>
       <div class="panel-footer">
      <div class="form-group">
       <div class="col-lg-12">
        <button type="submit" class="btn btn-sm btn-success">Submit Details</button>
        <a href="#" class="btn gray-bg">Cancel</a>
       </div>
      </div>
       </div>
      </form>
     </div> 
    </div>
  </div>
{% endblock %}