<!-- current_course ve courses ve topics lazim -->
{% extends "master.html" %}
{% block sidebar %}
<!--TOP NAV ENDS-->
<aside id="left_panel">
  <div class="container-fluid">
    <div class="btn-group" style="margin-bottom:20px;width: 100%;">
      <a href="#" style="width: 100%;" class="pink-bg btn btn-med" data-toggle="dropdown">{{ current_course.course_id }}  <i class="pull-right icon-"></i></a>
      <ul style="width: 100%;" class="dropdown-menu">
        {% for course in courses %}
          <li><a href="{{ url_for('course_main', course_id=course.course_id) }}">{{ course.course_id }}</a></li>
        {% else %}
          <li>No Course</li>
        {% endfor %}
      </ul>
    </div>
  </div>
<a style="width:85%; margin-left:7.5%; margin-bottom:20px;" class="green-bg btn btn-med" href="{{ url_for('add_topic', course_id=current_course.course_id) }}">New Topic <i class="icon-plus pull-right"></i> </a>
  <nav id="aside_nav">
    <ul>
      {% if topics %}
        <div class="panel-body">
        {% for group in topics %}
          <div class="panel-group">
            <div class="panel colored">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <div class="panel-heading blue-bg">
                  <h4 class="panel-title">{{ group.title }}</h4>
                </div>
              </a>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body" style="padding: 5px;">
                  {% for topic0 in group.topics %}
                    {% if self._TemplateReference__context.name == 'topic.html' and topic.topic_id == topic0.topic_id %}
                      <li class="active"><a href="{{ url_for('topic', course_id=current_course.course_id, topic_id=topic0.topic_id) }}">{{ topic0.title }}</a></li>
                    {% else %}
                      <li><a href="{{ url_for('topic', course_id=current_course.course_id, topic_id=topic0.topic_id) }}">{{ topic0.title }}
                      {% if topic0.is_new == None %}
                        <span style="background-color:#009688;">New</span>
                      {% elif topic0.is_new == 1 %}
                        <span style="background-color:#e91e63;">Unread</span>
                      {% endif %}
                      </a></li>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      {% else %}
        <li style="margin:20px;"><span> There is no topic for this class.</span></li>
      {% endif %}
    </ul>
  </nav>
</aside>
<!--ASIDE LEFT PANNEL ENDS-->
{% endblock %}
