{% extends "topic_sidebar.html" %}
{% block title %}
  {{ topic.title }} at {{ current_course.course_id }} - {{ current_course.course_title }}
{% endblock %}
{% block body %}
	<div class="container-fluid">
		{% if is_admin %}
			<a href="#deleteTopicModal" role="button" data-toggle="modal">Delete Topic with all comments</a>
		{% endif %}
	    <div class="row">
	    	<div class="col-md-12">
		  		<div class="panel colored"><div class="panel-heading black-bg"><h3 class="panel-title">{{ topic.title }}</h3>
		  	    	<p class="pull-right" style="color: #fff;">
		            	<span class="post-meta"><i class="icon-time"></i>{{ topic.create_time|datetimeformat }}</span>
		            	<span class="post-meta"><i class="icon-user"></i><a href="#" style="color: #fff;">{{ topic.name }}</a></span>
	          		</p>
		  		</div>
		  		<div class="panel-body">{{ topic.content }}</div>
		  	</div>
		  	{% if topic.locked %}
		  		<div class="row"><div class="col-md-12"><div class="col-md-12 notification gray-bg"><strong>Locked Topic</strong> : No Comments Allowed </div></div></div>
	  		{% else %}
	            <h3>Comments</h3>
	            <ul>
	            {% if is_admin %}
		            {% for comment in comments[0] %}
		            	{{ render_comment_as_admin(comment) }}
			        {% else %}
			          There is no comment for this topic yet.
			        {% endfor %}
	            {% else %}
		            {% for comment in comments[0] %}
		            	{{ render_comment(comment) }}
			        {% else %}
			          There is no comment for this topic yet.
			        {% endfor %}
	            {% endif %}
		        </ul>
				<!-- comments will be here -->
	           	<hr>
			    <h3>Leave a Comment</h3>
				<form action="{{ url_for('add_comment', course_id=current_course.course_id, topic_id=topic.topic_id) }}" method="POST" enctype="multipart/form-data">

					<div class="form-group">
					<textarea name="comment_content"></textarea>
					<script>
		                CKEDITOR.replaceAll();
		            </script>
						
					</div>
				<div class="form-group">
					 <div class="col-lg-2">
					  <select name="is_anonymous" class="col-lg-12 chzn-nopadd chzn-select-no-single"><option value="0">{{ current_user.member.name }}</option> <option value="1">Anonymous to Students</option></select>
					 </div>
		        </div>
					<input type="hidden" id="parent_id" name="parent_id" value="0">
					<button type="submit" class="btn btn-sm btn-success">Post Comment</button>
			   </form>
	  		{% endif %}
	    </div>
	  </div>
  </div>
        <script type="text/javascript">
    function myfunc2(comment_id) {
 var selectedobj=document.getElementById(comment_id);

  if(selectedobj.className=='hide'){  //check if classname is hide 
    selectedobj.style.display = "block";
    selectedobj.readOnly=true;
    selectedobj.className ='panel panel-default';
  }else{
    selectedobj.style.display = "none";
    selectedobj.className ='hide';
 }
}
    </script>
<!-- deleteTopic Modal -->
  <div class="modal fade" id="deleteTopicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h4 class="modal-title">Confirm deletion</h4>
     </div>
     <div class="modal-body">
      Are you sure?
     </div>
     <div class="modal-footer">
	  <form action="{{ url_for('delete_topic', course_id=current_course.course_id, topic_id=topic.topic_id) }}" method="POST" enctype="multipart/form-data" >
      <button type="button" class="btn gray-bg" data-dismiss="modal">Close</button>
		<button type="submit" name="topic_id" type="button" class="btn red-bg">Delete Topic</button>
	  </form>
     </div>
    </div>
    <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  
  <!-- deleteCommentAdmin Modal -->
  <div class="modal fade" id="deleteCommentAdminModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h4 class="modal-title">Confirm deletion</h4>
     </div>
     <div class="modal-body">
      Which way to delete?
     </div>
     <div class="modal-footer">
	  <form action="#" method="POST" enctype="multipart/form-data" >
      <button type="button" class="btn gray-bg" data-dismiss="modal">Close</button>
		<input type="hidden" id="delete_comment_id" name="delete_comment_id" value="">
		<button type="submit" type="button" class="btn blue-bg">Remove Content</button>
		<button type="submit" name="delete_complete" value="1" type="button" class="btn red-bg">Delete Complete</button>
	  </form>
     </div>
    </div>
    <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  
  <!-- deleteCommentStudent Modal -->
  <div class="modal fade" id="deleteCommentStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      <h4 class="modal-title">Confirm deletion</h4>
     </div>
     <div class="modal-body">
      Are you sure?
     </div>
     <div class="modal-footer">
	  <form action="#" method="POST" enctype="multipart/form-data" >
      <button type="button" class="btn gray-bg" data-dismiss="modal">Close</button>
		<input type="hidden" id="delete_comment_id_2" name="delete_comment_id" value="">
		<button type="submit" type="button" class="btn blue-bg">Remove Content</button>
	  </form>
     </div>
    </div>
    <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
<script>
	function removeCommentAdmin (comment_id) {
		$("#delete_comment_id").val( comment_id );
		$('#deleteCommentAdminModal').modal('show');
	}
	function removeCommentStudent (comment_id) {
		$("#delete_comment_id_2").val( comment_id );
		$('#deleteCommentStudentModal').modal('show');
	}
  </script>
{% endblock %}

{% macro render_comment(comment) -%}
	<hr><div class="media"><a href="#" class="pull-left">
	{% if comment.member_id == current_user.id %}
		{{ render_info_as_admin(comment) }}
	{% else %}
		{% if comment.is_anonymous %}
			<img src="{{ url_for('static', filename='assets/images/user_pic/anonymous.jpg') }}">
		{% elif comment.image_url %}
			<img src="{{ comment.image_url }}">
		{% else %}
			<img src="{{ url_for('static', filename='assets/images/user_pic/user.jpg') }}">
		{% endif %}
		</a><div class="media-body"><h5 class="media-heading">
		{% if comment.is_anonymous %}Anonymous{% else %}{{comment.name}}{% endif %}
	{% endif %}
	 <b onclick="myfunc2('{{ comment.comment_id }}')" class="badge bg-info">Reply</b><small class="pull-right">{{ comment.comment_time }}</small></h5>{{ comment.content }}
	{% if comment.member_id == current_user.id %}
		<a onclick="removeCommentStudent({{ comment.comment_id }})">Delete</a>
	{% endif %}
	<form id="{{ comment.comment_id }}" class="hide" style="display:none" action="{{ url_for('add_comment', course_id=current_course.course_id, topic_id=topic.topic_id) }}" method="POST" enctype="multipart/form-data">

			<div class="form-group">
				<textarea rows="3" id="comment_content" name="comment_content"></textarea>
			</div>
			<div class="form-group">
			 <div class="col-lg-2">
			  <select name="is_anonymous" class="col-lg-12 chzn-nopadd chzn-select-no-single"><option value="0">{{ current_user.member.name }}</option> <option value="1">Anonymous to Students</option></select>
			 </div>
        </div>
			<input type="hidden" id="parent_id" name="parent_id" value="{{ comment.comment_id }}">
			<button type="submit" class="btn btn-sm btn-success">Reply</button>
	</form>
	{% if comments[comment.comment_id] %}
		{% for subcomment in comments[comment.comment_id] %}
			{{ render_comment(subcomment) }}
		{% endfor %}
	{% endif %}
	</div></div>
{%- endmacro %}

{% macro render_comment_as_admin(comment) -%}
	<hr><div class="media"><a href="#" class="pull-left">
	{{ render_info_as_admin(comment) }}
	<b onclick="myfunc2('{{ comment.comment_id }}')" class="badge bg-info">Reply</b><small class="pull-right">{{ comment.comment_time }}</small></h5>{{ comment.content }}
	<a onclick="removeCommentAdmin({{ comment.comment_id }})">Delete</a>
	<form id="{{ comment.comment_id }}" class="hide" style="display:none" action="{{ url_for('add_comment', course_id=current_course.course_id, topic_id=topic.topic_id) }}" method="POST" enctype="multipart/form-data">

			<div class="form-group">
				<textarea rows="3" id="comment_content" name="comment_content"></textarea>
			</div>
			<div class="form-group">
			 <div class="col-lg-2">
			  <select name="is_anonymous" class="col-lg-12 chzn-nopadd chzn-select-no-single"><option value="0">{{ current_user.member.name }}</option> <option value="1">Anonymous to Students</option></select>
			 </div>
        </div>
			<input type="hidden" id="parent_id" name="parent_id" value="{{ comment.comment_id }}">
			<button type="submit" class="btn btn-sm btn-success">Reply</button>
	</form>
	{% if comments[comment.comment_id] %}
		{% for subcomment in comments[comment.comment_id] %}
			{{ render_comment_as_admin(subcomment) }}
		{% endfor %}
	{% endif %}
	</div></div>
{%- endmacro %}

{% macro render_info_as_admin(comment) -%}
	{% if comment.image_url %}
		<img src="{{ comment.image_url }}">
	{% else %}
		<img src="{{ url_for('static', filename='assets/images/user_pic/user.jpg') }}">
	{% endif %}
	</a><div class="media-body"><h5 class="media-heading">{{comment.name}}
	{% if comment.is_anonymous %} (Anonymous) {% endif %} 
{%- endmacro %}